
<form name="loginForm" ng-submit="login(credentials)"
      novalidate>
  <label for="email">email:</label>
  <input type="text" id="email"
         ng-model="credentials.email">
  <label for="password">Password:</label>
  <input type="password" id="secret"
         ng-model="credentials.secret">
  <button type="submit">Login</button>
</form>

<div>
  <ul>
    <li>Logged in user</li>
    <li data-ng-repeat="user in users">
      <a href="#/users/{{user.UserID}}">
        <strong>{{user.Fname}}</strong><br />
        <p>{{user.Lname}}</p>
        <p>{{user.Email}}</p>
        <span></span>
      </a>
    </li>
  </ul>
</div>

